<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="assets/css/dailyDose.css">

  <title>Daily Dose</title><link rel="stylesheet" href="assets/css/rightnavbar.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="#">
  <meta name="keywords"
    content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
  <meta name="author" content="#">
  <!-- Favicon icon -->

  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  <!-- Required Fremwork -->
  <link rel="stylesheet" type="text/css" href="bower_components\bootstrap\css\bootstrap.min.css">
  <!-- feather Awesome -->
  <link rel="stylesheet" type="text/css" href="assets\icon\feather\css\feather.css">
  <!-- Style.css -->
  <link rel="stylesheet" type="text/css" href="assets\css\style.css">
  <link rel="stylesheet" type="text/css" href="assets\css\jquery.mCustomScrollbar.css">


  <!-- custom.css -->
  <link rel="stylesheet" href="./assets/css/rightSideNav.css">
  <link rel="stylesheet" href="./assets/css/homePageCards.css">
  <link rel="stylesheet" href="./assets/css/daily_news.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
 
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">


        <header class="navbar header-navbar pcoded-header">
          <div class="navbar-wrapper">

            <nav class="btn-pluss-wrapper1">
              <div href="#" class="btn-pluss rightbar">
                <ul>
                        <li><img class="img1" src="./assets/images/tests.svg" alt="tests">
                        </li>
                        <li><img class="img2" src="./assets/images/quizzes.svg" alt="quizzes"></li>
                        <li><img class="img3" src="./assets/images/classes.svg" alt="classes"></li>
                      </ul>
              </div>
            </nav>
            <div class="navbar-logo">
              <a class="mobile-menu" id="mobile-collapse" href="#!">
                <i class="feather icon-menu"></i>
  			  <a class="right_bar" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;<span class="notinav bg-c-pink">5</span></a>

              </a>

              <a href="/student_dashboard">
                <img class="logo" src="assets\images\logo.webp" alt="Theme-Logo">

              </a>

              <a class="mobile-options">
                <i class="feather icon-more-horizontal"></i>
              </a>
            </div>



            <div class="navbar-container container-fluid">
              <ul class="nav-left">

                <li>
                  <a href="#!" onclick="javascript:toggleFullScreen()">
                    <i class="feather icon-maximize full-screen"></i>
                  </a>
                </li>
              </ul>
              <ul class="nav-right">
                <li class="header-search">
                  <div class=" morphsearch-search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search..">
                      <span class="input-group-addon search-btn"><i class="feather icon-search"></i></span>
                    </div>
                  </div>
                </li>
                <a href=""><button class="recharge">Purchase Coins</button></a>
                <li class="header-notification">
                  <div class="dropdown-primary dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown">
                      <i class="feather icon-bell"></i>
                      <span class="badge bg-c-pink">5</span>
                    </div>
                    <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn"
                      data-dropdown-out="fadeOut">
                      <li>
                        <h6>Notifications</h6>
                        <label class="label label-danger">New</label>
                      </li>
                      <li>
                        <div class="media">
                          <img class="d-flex align-self-center img-radius" src="assets\images\avatar-4.webp"
                            alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="notification-user"><%=name%></h5>
                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                            <span class="notification-time">30 minutes ago</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media">
                          <img class="d-flex align-self-center img-radius" src="assets\images\avatar-3.webp"
                            alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="notification-user">Joseph William</h5>
                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                            <span class="notification-time">30 minutes ago</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media">
                          <img class="d-flex align-self-center img-radius" src="assets\images\avatar-4.webp"
                            alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="notification-user">Sara Soudein</h5>
                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                            <span class="notification-time">30 minutes ago</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <nav class="btn-pluss-wrapper">

                    <div href="#" class="btn-pluss rightbar">
                      <ul>
                        <li><img class="img1" src="./assets/images/tests.svg" alt="tests">
                        </li>
                        <li><img class="img2" src="./assets/images/quizzes.svg" alt="quizzes"></li>
                        <li><img class="img3" src="./assets/images/classes.svg" alt="classes"></li>
                      </ul>
                    </div>
                  </nav>
                </li>
                <li class="user-profile header-notification">
                  <div class="dropdown-primary dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown">
                      <img src="assets\images\avatar-4.webp" class="img-radius" alt="User-Profile-Image">
                      <span><%=name%></span>
                      <i class="feather icon-chevron-down"></i>
                    </div>
                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn"
                      data-dropdown-out="fadeOut">

                      <li>
                        <a href="/welcome">
                          <i class="feather icon-log-out"></i> Logout
                        </a>
                      </li>
                    </ul>

                  </div>
                </li>

              </ul>
            </div>
          </div>

        </header>
        
    	  <ul class="Dropdown_content Dropdown_content1 ">
            <h6>Upcoming Tests 1</h6>
            <li>
              <h2>
                <h6>Topic name 1</h6>
              <p>
                10 Oct 2020</p>
            </li>
            <li>
              <h2>
                <h6>Topic name 2</h6>
              <p>
                11 Oct 2020</p>
            </li>
            <li>
              <h2>
                <h6>Topic name 2</h6>
              <p>
                12 Oct 2020</p>
            </li>
            <li>
              <h2>
                <h6>Topic name 2</h6>
              <p>
                13 Oct 2020</p>
            </li>
          </ul>
    	  
    	  <ul class="Dropdown_content Dropdown_content2">
            <h6>Upcoming Tests 2</h6>
            <li>
              <h2>
                <h6>Topic name 1</h6>
              <p>
                10 Oct 2020</p>
            </li>
            <li>
              <h2>
                <h6>Topic name 2</h6>
              <p>
                11 Oct 2020</p>
            </li>
            <li>
              <h2>
                <h6>Topic name 2</h6>
              <p>
                12 Oct 2020</p>
            </li>
            <li>
              <h2>
                <h6>Topic name 2</h6>
              <p>
                13 Oct 2020</p>
            </li>
          </ul>
    	  
    	  <ul class="Dropdown_content Dropdown_content3">
            <h6>Upcoming Tests 3</h6>
            <li>
              <h2>
                <h6>Topic name 1</h6>
              <p>
                10 Oct 2020</p>
            </li>
            <li>
              <h2>
                <h6>Topic name 2</h6>
              <p>
                11 Oct 2020</p>
            </li>
            <li>
              <h2>
                <h6>Topic name 2</h6>
              <p>
                12 Oct 2020</p>
            </li>
            <li>
              <h2>
                <h6>Topic name 2</h6>
              <p>
                13 Oct 2020</p>
            </li>
          </ul>


        <div class="pcoded-main-container">

          <div class="pcoded-wrapper">
            <nav class="pcoded-navbar">
              <div class="pcoded-inner-navbar main-menu">

                <ul class="pcoded-item pcoded-left-item">
                  <li class=" ">
                    <a href="/student_dashboard">
                      <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                      <span class="pcoded-mtext">Home</span>
                    </a>
  
                  </li>
                  <li class="pcoded-hasmenu">
                    <a href="/student_material">
                      <span class="pcoded-micon"><i class="fa fa-book"></i></span>
                      <span class="pcoded-mtext">Study Material</span>
                      <!--<span class="pcoded-badge label label-warning">NEW</span>-->
                    </a>
                    <!--<ul class="pcoded-submenu">
                      <li class=" ">
                        <a href="suggested_topics.html">
                          <span class="pcoded-mtext">Suggested Topics</span>
                        </a>
  
                      </li>
                      <li class=" ">
                        <a href="suggested_modules.html">
                          <span class="pcoded-mtext">Suggested Modules</span>
                        </a>
  
                      </li>
                      <li class=" ">
                        <a href="flash_cards.html">
                          <span class="pcoded-mtext">Flash Cards</span>
                        </a>
                      </li>
                      <li class=" ">
                        <a href="trending_topics.html">
                          <span class="pcoded-mtext">Trending Topics</span>
                        </a>
                      </li> 
  
                    </ul>-->
                  </li>
                  <li>
                    <a href="/student_test">
                      <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                      <span class="pcoded-mtext">Mock Test</span>
                    </a>
                  </li>
                  <!-- <li class="pcoded-hasmenu"> -->
                    <!-- <a href="#">
                      <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                      <span class="pcoded-mtext">Mock Test</span>
                    </a> -->
                    <!-- <ul class="pcoded-submenu">
                      <li class=" ">
                        <a href="live_test.html">
                          <span class="pcoded-mtext">Live Test</span>
                          <span class="pcoded-badge label label-danger">Live</span>
                        </a>
                      </li>
                      <li class=" ">
                        <a href="free_test.html">
                          <span class="pcoded-mtext">Free Test</span>
                        </a>
                      </li>
                      <li class=" ">
                        <a href="suggested_test.html">
                          <span class="pcoded-mtext">Suggested Test</span>
                        </a>
                      </li>
                      <li class=" ">
                        <a href="upcomming_test.html">
                          <span class="pcoded-mtext">Upcoming Test</span>
                        </a>
                      </li>
  
  
                    </ul> -->
                  <!-- </li> -->
                </ul>
                <hr size="4" width="90%" color="Grey">
                <ul class="pcoded-item pcoded-left-item">
                  <li class="pcoded-hasmenu">
                    <a href="/student_videos?id=<%=user_id%>">
                      <span class="pcoded-micon"><i class="fa fa-newspaper-o"></i></span>
                      <span class="pcoded-mtext">Videos</span>
                    </a>
                  </li>
                  <!--<li class=" ">
                    <a href="mcqfy/index.html">
                      <span class="pcoded-micon"><img class="mcq" src="assets/images/mcqfy.svg"></span>
                      <span class="pcoded-mtext">MCQfy</span>
                      <span class="pcoded-badge label label-danger">Play & Win</span>
                    </a>
  
                  </li>-->
  
  
                  <!--<li>
                    <a href="clear_doubts.html">
                      <span class="pcoded-micon"><i class="fa fa-question-circle-o"></i></span>
                      <span class="pcoded-mtext">Clear Doubts</span>
                    </a>
  
                  </li>
                  <li>
                    <a href="calander.html">
                      <span class="pcoded-micon"><i class="fa fa-calendar"></i></span>
                      <span class="pcoded-mtext">Exam Calendar</span>
                    </a>
  
                  </li>-->
                </ul>
                <hr size="12px" width="90%" color="Grey">
                <ul class="pcoded-item pcoded-left-item">
                  <li class=" ">
                    <a href="/about_you">
                      <span class="pcoded-micon"><i class="fa fa-user"></i></span>
                      <span class="pcoded-mtext">About You</span>
                    </a>
                    <!-- <ul class="pcoded-submenu">
                                          <li class=" ">
                                              <a href="#">
                                                  <span class="pcoded-mtext">Profile</span>
                                              </a>
                                          </li>
                                          <li class=" ">
                                              <a href="#">
                                                  <span class="pcoded-mtext">Your Saved Question</span>
                                              </a>
                                          </li>
                                          <li class=" ">
                                              <a href="#">
                                                  <span class="pcoded-mtext">Your Activty</span>
                                              </a>
                                          </li>
  
                                      </ul> -->
                  </li>
  
                  <li class="">
                    <a href="/student_assignment">
                      <span class="pcoded-micon"><i class="fa fa-book"></i></span>
                      <span class="pcoded-mtext">Assignments</span>
  
                    </a>
                    <!-- <ul class="pcoded-submenu">
                                          <li class=" ">
                                              <a href="#">
                                                  <span class="pcoded-mtext">Purchase Coins</span>
                                              </a>
                                          </li>
                                          <li class=" ">
                                              <a href="#">
                                                  <span class="pcoded-mtext">My Transactions</span>
                                              </a>
                                          </li>
                                          <li class=" ">
                                              <a href="#">
                                                  <span class="pcoded-mtext">Spent Analyser</span>
                                              </a>
                                          </li>
  
                                      </ul>-->
                  </li>
                 <!-- <li class="">
                    <a href="sticky_notes.html">
                      <span class="pcoded-micon"><i class="fa fa-sticky-note-o"></i></span>
                      <span class="pcoded-mtext">Sticky Notes</span>
  
                    </a>
  
                  </li> -->
                </ul>
                <hr size="12px" width="90%" color="Grey">
                <ul class="pcoded-item pcoded-left-item">
                  <li class=" ">
                    <a href="resources.html">
                      <span class="pcoded-micon"><i class="fa fa-briefcase"></i></span>
                      <span class="pcoded-mtext">Our Resources</span>
                    </a>
  
                  </li>
                </ul>
            </nav>
            <div class="pcoded-content">
              <div class="pcoded-inner-content">
                <div class="main-body">
                  <div class="page-wrapper">

                    <br>
                    <br>
                    <br>
                    <br>

                    <!-- Post Data Here    -->

                    <div class="row">
                      <div class="dailyContent">
                        <style>
                            /*li.answer{
                                cursor: pointer;
                            }
                            li.answer:hover{
                                background: #00c4ff3d;
                            }*/
                            li.answer input:checked{
                                background: #00c4ff3d;
                            }
                        </style>
                        
                        
                        <div class="container-fluid admin">
                            <div class="col-md-12 alert alert-primary"><%=title%> | <%=points%> Points Each Question
                            </div>
                            <div id="piechart"></div>
                            <div class="col-md-12 alert alert-primary">
                              <h6>RANK HOLDERS:</h6>
                              <%for(var i=0;i < rank.length;i++){%>
                                  <div class="table-info"><%=i+1%>.) <%=rank[i].name%></div>
                                  
                              <%}%>
                            </div>
                            <div class="col-md-12 alert alert-success">SCORE : <%=scoredMarks%> / <%=totalMarks%> 
                              <br>
                              NOT ATTEMPTED: <span id="unattempt"><%=unattemp%></span>
                              <br>
                              ATTEMPTED: <span id="attempt"> <%=attemp%></span>
                              <br>
                              RIGHT: <span id="right"> <%=right%></span>
                            </div>
                            <br>
                            <div class="card">
                                <div class="card-body">
                    
                                      <%if (questions.length > 0) { %>
                                        <% for(var i=0; i < questions.length; i++) { %>
                                          <%if ( questions[i].questionType == 'single_choice_question' ) { %>
                                            
                                            <ul class="q-items list-group mt-4 mb-4 ?>">
                                              <li class="q-field list-group-item">
                                                
                                                <%=i+1%>. <strong><%= questions[i].question%></strong>
                                                <%if(answers[i].answer == ""){ %>
                                                  <div>
                                                <%} else if(answers[i].answer == questions[i].answer){ %>
                                                  <div class="col-md-12 alert alert-success">
                                                  <%}else{%>
                                                  <div class="col-md-12 alert alert-danger">
                                                  <%}%>
                                                  <br>
                                                  <ul class='list-group mt-4 mb-4'>
                                                
                                                      <li class="answer list-group-item ">
                                                          1. <label><%= questions[i].optionA%> </label>
                                                      </li>
                                                      <li class="answer list-group-item ">
                                                          2. <label><%= questions[i].optionB%> </label>
                                                      </li>
                                                      <li class="answer list-group-item ">
                                                         3. <label><%= questions[i].optionC%> </label>
                                                      </li>
                                                      <li class="answer list-group-item" >
                                                         4. <label><%=questions[i].optionD%> </label>
                                                      </li>
                                                  </ul>
                                            <h6>Correct answer option no: <%=questions[i].answer%></h6>
                                            <h6>Your answer option no: <%=answers[i].answer%></h6>
                                            <% if(questions[i].description != undefined){ %>
                                              <p><strong>Description :</strong><%=questions[i].description%> </p>
                                            <% } else{ %>  
                                              <p><strong>Description : -</strong></p>
                                           <% } %>
                                          
                                        </li>
                                      </ul>
                                          <% } else if(questions[i].questionType == 'true_false_question') { %>
                                            <ul class="q-items list-group mt-4 mb-4 ?>">
                                              <li class="q-field list-group-item">
                                                <%=i+1%>. <strong><%= questions[i].question%></strong>
                                                <%if(answers[i].answer == ""){ %>
                                                  <div>
                                                <%} else if(answers[i].answer == questions[i].answer){ %>
                                                  <div class="col-md-12 alert alert-success">
                                                  <%}else{%>
                                                  <div class="col-md-12 alert alert-danger">
                                                  <%}%>  
                                                <br>
                                                  <ul class='list-group mt-4 mb-4'>
                                                
                          
                                                      <li class="answer list-group-item ">
                                                        1. <label> True</label>
                                                      </li>
                                                      <li class="answer list-group-item" >
                                                        2. <label>False</label>
                                                      </li>                                                    
                                                  </ul>
                                                  <h6>Correct answer option no: <%=questions[i].answer%></h6>
                                                  <h6>Your answer option no: <%=answers[i].answer%></h6>
                                                  <% if(questions[i].description != undefined){ %>
                                                    <p><strong>Description :</strong><%=questions[i].description%> </p>
                                                  <% } else{ %>  
                                                    <p><strong>Description : -</strong></p>
                                                 <% } %>
                                              </li>
                                            </ul>
                                            
                                            <% } else if(questions[i].questionType == 'fill_in_the_blanks') { %>
                                              <ul class="q-items list-group mt-4 mb-4 ?>">
                                                <li class="q-field list-group-item">
                                                  <%=i+1%>. <strong><%= questions[i].question%></strong>
                                                  <%if(answers[i].answer == ""){ %>
                                                    <div>
                                                  <%} else if(answers[i].answer == questions[i].answer){ %>
                                                    <div class="col-md-12 alert alert-success">
                                                    <%}else{%>
                                                    <div class="col-md-12 alert alert-danger">
                                                    <%}%>  
                                                    <br>
                                                    <h6>Correct answer option no: <%=questions[i].answer%></h6>
                                                    <h6>Your answer option no: <%=answers[i].answer%></h6>
                                                    <% if(questions[i].description != undefined){ %>
                                                      <p><strong>Description :</strong><%=questions[i].description%> </p>
                                                    <% } else{ %>  
                                                      <p><strong>Description : -</strong></p>
                                                   <% } %>
                                                </li>
                                              </ul>
                                              <% } else if ( questions[i].questionType == 'multiple_choice_question' ) { %>
                                                <ul class="q-items list-group mt-4 mb-4 ?>">
                                                  <li class="q-field list-group-item">
                                                    <%=i+1%>. <strong><%= questions[i].question%></strong>
                                                    <%if(answers[i].answer == ""){ %>
                                                      <div>
                                                    <%}else if(answers[i].answer == questions[i].answer){ %>
                                                      <div class="col-md-12 alert alert-success">
                                                      <%}else{%>
                                                      <div class="col-md-12 alert alert-danger">
                                                      <%}%>  
                                                      <br>
                                                      <ul class='list-group mt-4 mb-4'>
                                                    
                              
                                                          <li class="answer list-group-item ">
                                                             1. <label><%= questions[i].optionA%> </label>
                                                          </li>
                                                          <li class="answer list-group-item ">
                                                             2. <label><%= questions[i].optionB%> </label>
                                                          </li>
                                                          <li class="answer list-group-item ">
                                                            3. <label> <%= questions[i].optionC%> </label>
                                                          </li>
                                                          <li class="answer list-group-item" >
                                                            4. <label><%= questions[i].optionD%> </label>
                                                          </li>
                                                          
    
                                                      </ul>
                                                      <h6>Correct answer option no: <%=questions[i].answer%></h6>
                                                      <h6>Your answer option no: <%=answers[i].answer%></h6>
                                                      <% if(questions[i].description != undefined){ %>
                                                        <p><strong>Description :</strong><%=questions[i].description%> </p>
                                                      <% } else{ %>  
                                                        <p><strong>Description : -</strong></p>
                                                     <% } %>
                                                  </li>
                                                </ul>
                            
                                          <% } %>
                                        <%}%>
                                      <%}%>
                    
                                </div>	
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

<div id="mySidenav" class="sidenav">
  <br>
  <br>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a><div class="topnav"><input type="text" placeholder="Search.."></div></a>

                <div class="dropdown-primary dropdown">
                  <div class="dropdown-toggle" data-toggle="dropdown">
                    <i class="feather icon-bell"></i>
                    <span class="badge bg-c-pink">5</span>
                  </div>
                  <ul class="notimobi show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn"
                    data-dropdown-out="fadeOut">

                    <li>
                      <h6>Notifications</h6>
                      <label class="label label-danger">New</label>
                    </li>
                    <li>
                      <div class="media">
                        <img class="d-flex align-self-center img-radius" src="assets\images\avatar-4.webp"
                          alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="notification-user"><%=name%></h5>
                          <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                          <span class="notification-time">30 minutes ago</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media">
                        <img class="d-flex align-self-center img-radius" src="assets\images\avatar-3.webp"
                          alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="notification-user">Joseph William</h5>
                          <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                          <span class="notification-time">30 minutes ago</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media">
                        <img class="d-flex align-self-center img-radius" src="assets\images\avatar-4.webp"
                          alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="notification-user">Sara Soudein</h5>
                          <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                          <span class="notification-time">30 minutes ago</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                

  <a href="manage_coins.html">Purchase Coins</a><br><a href="/welcome">Logout</a>
</div>
  <!-- Required Jquery -->
  <script data-cfasync="false" src="..\..\..\cdn-cgi\scripts\5c5dd728\cloudflare-static\email-decode.min.js"></script>
  <script type="text/javascript" src="bower_components\jquery\js\jquery.min.js"></script>
  <script type="text/javascript" src="bower_components\jquery-ui\js\jquery-ui.min.js"></script>
  <script type="text/javascript" src="bower_components\popper.js\js\popper.min.js"></script>
  <script type="text/javascript" src="bower_components\bootstrap\js\bootstrap.min.js"></script>
  <!-- jquery slimscroll js -->
  <script type="text/javascript" src="bower_components\jquery-slimscroll\js\jquery.slimscroll.js"></script>
  <!-- modernizr js -->
  <script type="text/javascript" src="bower_components\modernizr\js\modernizr.js"></script>
  <!-- Chart js -->
  <script type="text/javascript" src="bower_components\chart.js\js\Chart.js"></script>
  <!-- amchart js -->
  <script src="assets\pages\widget\amchart\amcharts.js"></script>
  <script src="assets\pages\widget\amchart\serial.js"></script>
  <script src="assets\pages\widget\amchart\light.js"></script>
  <script src="assets\js\jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="assets\js\SmoothScroll.js"></script>
  <script src="assets\js\pcoded.min.js"></script>
  <!-- custom js -->
  <script src="assets\js\vartical-layout.min.js"></script>
  <script type="text/javascript" src="assets\pages\dashboard\custom-dashboard.js"></script>
  <script type="text/javascript" src="assets\js\script.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);
var right=Number(document.getElementById('right').innerHTML);
var attempt=Number(document.getElementById('attempt').innerHTML);
var unattempt=Number(document.getElementById('unattempt').innerHTML);
var wrong=attempt-right;
console.log( right+" "+ wrong+" "+unattempt);
// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['TEST', 'STATS'],
  ['right', right],
  ['wrong', wrong],
  ['not attempted', unattempt],
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'TEST STATS', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
  <script src="./assets/js/sideBarNav.js"></script>  <script>function openNav() {  var x = document.getElementById("mySidenav");  if (x.style.width === "100%") {    x.style.width = "0%";  } else {    x.style.width = "100%";  }}function closeNav() {  document.getElementById("mySidenav").style.width = "0%";}</script>
</body>

</html>